<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>437952569431-sjecee7it5jqbtef5q5csqb4i2pa6ho8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.437952569431-sjecee7it5jqbtef5q5csqb4i2pa6ho8</string>
	<key>API_KEY</key>
	<string>AIzaSyAC-R0vA28C6XS360ZnGg6z7IldKHUTS4A</string>
	<key>GCM_SENDER_ID</key>
	<string>437952569431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.martinparker.OrbitMalaysia</string>
	<key>PROJECT_ID</key>
	<string>orbitmalaysia-bd9cf</string>
	<key>STORAGE_BUCKET</key>
	<string>orbitmalaysia-bd9cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:437952569431:ios:0d706f9f06dff6b172c312</string>
	<key>DATABASE_URL</key>
	<string>https://orbitmalaysia-bd9cf.firebaseio.com</string>
</dict>
</plist>